.circle-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .view-icon {
    cursor: pointer;
    /* Add your desired pointer image as a background image */
    background-image: url('path/to/your/pointer-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Adjust the size and other styles as needed */
    width: 20px;
    height: 20px;
  }
 
  .custom-modal-width {
    max-width: 90%; /* Adjust modal width as needed */
    width: 90%;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem; /* Adds spacing between rows */
  }
  
  .modal {
    z-index: 1055 !important; /* Ensures the modal is on top */
  }
  
  .modal-backdrop {
    z-index: 1050 !important; /* Places backdrop behind the modal */
  }